@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
    font-family: "digital-7";
    src: url("/fonts/Digital7-rg1mL.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #24282c;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: 2.4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a9b3b8;
    font-weight: 700;
    border-radius: 11px;
    background-color: #363a3d;
    --shadow-color: 192deg 5% 11%;
    --shadow-elevation-low: 1px 1px 2.1px hsl(var(--shadow-color) / 0),
        2.3px 2.3px 4.9px hsl(var(--shadow-color) / 0.35),
        5px 5px 10.6px hsl(var(--shadow-color) / 0.69);
    box-shadow: var(--shadow-elevation-low);
}

.header {
    padding: 2.4rem;
    background-color: #a9b3b8;
    text-align: center;
    margin-bottom: 6.4rem;
}

.main-heading {
    font-size: 6.4rem;
    color: #9c2cf3;
}

.cal-container {
    margin: 0 auto;
    width: 40rem;
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
    background-color: #4a4e4f;
    gap: 3.2rem;
    --shadow-color: 210deg 15% 6%;
    --shadow-elevation-medium: 0px 1px 1.1px hsl(var(--shadow-color) / 0.36),
        0px 3.3px 3.7px -0.8px hsl(var(--shadow-color) / 0.36),
        0px 8.2px 9.2px -1.7px hsl(var(--shadow-color) / 0.36),
        0px 20px 22.5px -2.5px hsl(var(--shadow-color) / 0.36);
    box-shadow: var(--shadow-elevation-medium);
    border-radius: 17px;
}

.cal-display {
    /* min-height: 10rem; */
    background-color: #657167;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    font-family: "digital-7";
    border-radius: 13px;
}

.cal-equation {
    font-size: 3.2rem;
    min-height: 1.3em;
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.cal-result {
    font-size: 3.6rem;
    max-height: 1.4em;
}

.cal-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.8rem;
}

.cal-keys .btn {
    height: 6.4rem;
    position: relative;
    transition: all 0.1s ease;
}

.cal-keys .btn.result-btn {
    background: #9c2cf3;
    grid-column: span 2;
}

.cal-keys .btn:active {
    box-shadow: none;
    top: 1px;
    left: 1px;
}

.cal-keys .btn.opr-btn.selected {
    background: #9c2cf3;
}

/* style for backspace icon */
.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
