
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
  font-family: "digital-7";
  src: url("/fonts/Digital7-rg1mL.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
  --shadow-color: 210deg 15% 6%;
  --shadow-elevation-low:
    0px 1px 1.1px hsl(var(--shadow-color) / 0.34),
    0px 1.7px 1.9px -1.2px hsl(var(--shadow-color) / 0.34),
    0px 4px 4.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0px 1px 1.1px hsl(var(--shadow-color) / 0.36),
    0px 3.3px 3.7px -0.8px hsl(var(--shadow-color) / 0.36),
    0px 8.2px 9.2px -1.7px hsl(var(--shadow-color) / 0.36),
    0px 20px 22.5px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0px 1px 1.1px hsl(var(--shadow-color) / 0.34),
    0px 5.8px 6.5px -0.4px hsl(var(--shadow-color) / 0.34),
    0px 10.9px 12.3px -0.7px hsl(var(--shadow-color) / 0.34),
    0px 17.9px 20.1px -1.1px hsl(var(--shadow-color) / 0.34),
    -0.1px 28.6px 32.2px -1.4px hsl(var(--shadow-color) / 0.34),
    -0.1px 44.7px 50.3px -1.8px hsl(var(--shadow-color) / 0.34),
    -0.1px 67.9px 76.4px -2.1px hsl(var(--shadow-color) / 0.34),
    -0.2px 100px 112.5px -2.5px hsl(var(--shadow-color) / 0.34);
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #24282C;
      font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn {
    border: none;
    font-family: inherit;
    font-size:2.4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363A3D;
    color: #A9B3B8;
    font-weight: 700;
border-radius: 13px;
background: linear-gradient(145deg, #3a3e41, #313437);
box-shadow:  5px 5px 5px #2e3134,
             -5px -5px 10px #3e4346;
}

.header {
    padding: 2.4rem;
    background-color: #A9B3B8;
    text-align: center;
    margin-bottom: 6.4rem;
}

.main-heading {
    font-size: 6.4rem;
    color: #9C2CF3;
}

.cal-container {
    margin: 0 auto;
    width: 48rem;
    display: flex;
    flex-direction: column;
    padding: 4.8rem;
    background-color: #4A4E4F;
    gap: 3.2rem;
    box-shadow: var(--shadow-elevation-medium);
    border-radius: 17px;
}

.cal-display {
    height: 6.4rem;
    background-color: #657167;
    font-size: 4.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 1rem;
    font-family: "digital-7";
}


.cal-keys {
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 2.4rem;
}

.cal-keys .btn {
    height: 7.2rem;
}

.cal-keys .btn.result-btn{
    background: #9C2CF3;
    grid-column: span 2;
}

/* style for backspace icon */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
